<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>视频加密</h1>
    <h5> ** 需要注意 最好是mp4,mp3格式 ** </h5> 
<form action="/api/v1/files" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--<input type="text" name="name" placeholder="文件名"><br>-->
    <input type="file" name="icon"><input type="submit" value="提交">
</form>

<!--
<h1>修改秘钥重新加密</h1>
<h5> ** 需要注意 秘钥只能为16个字符，加密指令解决 ** </h5> 
<form action="/api/v1/updateKey" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="新秘钥 注意需要16个字符">    <input type="submit" value="修改秘钥">
</form>
-->
</body>
</html>

